@font-face {
  font-family: 'OpenSans';
  src: url('/Fonts/OpenSansHebrew-Regular.ttf');
}

.body {
  font-family: 'OpenSans', sans-serif;
}

.bold{font-weight:600;}

.BoxMain {
  width: 100%;
  height: 241px;


  margin-top: 20px;
  background: #FFFFFF;
  border: 1px solid #E3E6F0;
  box-shadow: 0px 4px 24px rgba(58, 59, 69, 0.1);
  border-radius: 7px;




  .BoxHead {
    display: grid;
    grid-template-columns: 10% 6% 14% 65%;
    gap: 20px;
    position: relative;
    text-align: right;
    color: #44454B;

    .headText {
      color: #44454B;
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 26px;
    }


  }
  @media screen and (max-width:500px){
    .BoxHead {
      display: inline-flex;
      gap: 8px;
      font-size: 14px !important;
      line-height: none;
      .headText {
        font-size: 14px;
        line-height: none;
      }
    }

  }

  .line {
    margin: 1% 0;
    left: 0%;
    right: 0%;
    bottom: 0%;
    height: 1px;
    border: 1px solid #E3E6F0;
  }

  .Proposal {
    display: grid;
    grid-template-columns: 6fr 1fr;
    gap: 20px;
    position: relative;
    text-align: right;

    @media screen and (max-width:500px){
      grid-template-columns: 6fr 3fr;
    }
    .leadPrice {
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      /* identical to box height, or 100% */

      text-align: right;
      letter-spacing: -0.2625px;

      color: #44454B;
    }

    .greenProposal {
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 14px;
      /* identical to box height, or 87% */

      text-align: right;
      letter-spacing: -0.2625px;

      color: #18873F;
      >div{
        color: #18873F;
      }

    }

    div>div{
        margin: 5px;
    }
  }
}
